<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$("document").ready(function(){
  $click =  $('.expandclass');   // Click selector


  $click.click(function () {

    $clicked = $(this);
    $expand = $(this).parent('.expand').next();  // Expand and collapse content selector

        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $expand.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of expand based on visibility of content div
        });

    });
});
</script>
</head>
<body>
<center>
<h1>Ansible Arcade</h1>
{% if lights.bulb1|bool %}{% else %}<img src="images/bulb_none.png">{% else %}<img src="images/bulb_yellow.png">{% endif %}
{% if lights.bulb1|bool %}{% else %}<img src="images/bulb_none.png">{% else %}<img src="images/bulb_blue.png">{% endif %}<img src="images/bulb_none.png">
{% if lights.bulb1|bool %}{% else %}<img src="images/bulb_none.png">{% else %}<img src="images/bulb_red.png">{% endif %}
{% if lights.bulb1|bool %}{% else %}<img src="images/bulb_none.png">{% else %}<img src="images/bulb_green.png">{% endif %}
{% if lights.bulb1|bool %}{% else %}<img src="images/bulb_none.png">{% else %}<img src="images/bulb_purple.png">{% endif %}
</center>

<center><p>Created with</p><br><img src="images/webpage_logo.png" width="300">
<p>The source code to create this can be found at <a href="https://github.com/gdykeman/ansible-arcade">https://github.com/gdykeman/ansible-arcade</a></br><br>

</body>
</html>
